.elementor-column-gap-default > .elementor-row > .elementor-column.full_width {
    div {
        padding: 0;
    }
}

.akrobat {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat !important;
    }
}

.akrobat-semi-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-semi-bold !important;
    }
}

.akrobat-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-bold !important;
    }
}

.akrobat-extra-bold {
    h1, h2, h3, h4, h5, h6, p, a {

        font-family: $akrobat-extra-bold !important;
    }
}

.akrobat-black {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-black !important;
    }
}

.akrobat-light {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-light !important;
    }
}

.akrobat-extra-light {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-extra-light !important;
    }
}

.akrobat-thin {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $akrobat-thin !important;
    }
}

.geared_slab {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $geared_slab !important;
    }
}

.geared_slab-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $geared_slab-bold !important;
    }
}

.geared_slab-extra-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $geared_slab-extra-bold !important;
    }
}

.geared_slab-thin {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $geared_slab-thin !important;
    }
}